.carousel-container{
    width: 1000px;
    margin: 0 auto;
    background-color: bisque;
}
.carousel-wrapper ul {
    display: flex;
    width: 800px;
    overflow-x:hidden;
    margin: 0 auto;
}
.carousel-wrapper ul li{
    width: 800px;
}
.indicator {
    display: flex;
}
.indicator dd{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: palevioletred;
}
.active{
    background-color: blueviolet;
}